@CHARSET "UTF-8";

body {
			color: #fff;
			background: #333 !important;
			font: 16px Noto Sans KR;
		  /*background: #4c535d;
			font-family: 'Roboto', sans-serif;*/
		}
	    .form-control {
	        min-height: 41px;
			box-shadow: none;
			border-color: #e1e4e5;
		}
	    .form-control:focus {
			border-color: #5fcaba;
		}
	    .form-control, .btn {        
	        border-radius: 3px;
	    }    
		.signup-form {
			width: 400px;
			margin: 0 auto;
			padding: 30px 0;
		}	
	    .signup-form form {
			color: #9ba5a8;
			border-radius: 3px;
	    	margin-bottom: 15px;
	        background: #fff;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
		.signup-form h2 {
			color: #333;
			font-weight: bold;
	        margin-top: 0;
	    }
	    .signup-form hr {
	        margin: 0 -30px 20px;
	    }
		.signup-form .form-group {
			margin-bottom: 20px;
		}
	    .signup-form label {
			font-weight: normal;
			font-size: 13px;
		}
	    .signup-form .btn {  
	    	width: 48%;      
	        font-size: 16px;
	        font-weight: bold;
			background: #5fcaba;
			border: none;
			min-width: 140px;
	    }
		.signup-form .btn:hover, .signup-form .btn:focus .signup-form .btn:active{
			background: #3fc0ad;
	        outline: none !important;
		}
		
		.signup-form a {
			color: #fff;
			text-decoration: underline;
		}
	    .signup-form a:hover {
			text-decoration: none;
		}
		.signup-form form a {
			color: #5fcaba;
			text-decoration: none;
		}	
		.signup-form form a:hover {
			text-decoration: underline;
		}
		.signup-form div button.btn.btn-primary.btn--green.btn-lg:active, div button.btn.btn-primary.btn--green.btn-lg:focus,
					 div button.btn.btn-primary.btn--green.btn-lg:hover, div button.btn.btn-primary.btn--green.btn-lg:checked{
			background: #3fc0ad;
	        outline: none !important;
		}